# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Flask

.DS_Store
*.pyc
*.pyo
env
env*
dist
build
*.egg
*.egg-info
_mailinglist
.tox
.cache/
.idea/
db/*

# Default directory for stat files to be parsed from
test-statfiles

# Logfiles
statsserv_error.txt
statsserv_log.txt
statsserv_gevent_error.txt
statsserv_gevent_log.txt

# Testing suite
testcontent/db/*
