@import url('https://fonts.googleapis.com/css?family=Hind|Jockey+One');
html,body {
	width: 100%;
	height: 100%;
}

body {
	background: #222;
	color: #DDD;
	font-family: Arial;
	margin: 0;
}

a,a:hover,a:active {
	color: #FFF;
	text-decoration: none;
}

a:hover {
	color: #CCC;
}

h1,h2 {
	display: block;
	margin: 1% 5%;
	border-radius: 2px;
	text-align: center;
	font-family: "Hind";
	font-weight: 400;
	background: black;
	padding: 0.5% 0%;
	width: 90%;
}

h1 {
	font-size: 20pt;
	text-shadow: 0px 0px 1px #333;
	background: url('/static/img/mapbase1024.png') !important;
}

#header {
	width: 100%;
	border-bottom: 1px solid black;
	margin-bottom: .25%;
	background: #333;
}

#title {
	font-family: "Jockey One";
	display: inline-block;
	font-size: 14pt;
	margin: 0.75% 2%;
	margin-right: 0.5em;
}

.centerpadded-small {
	margin: auto 20%;
	background: #333;
	padding: 1em;
}

.centerpadded {
	margin: auto 5%;
	padding: 1em;
	width: 85%;
	display: table;
}

.warn {
	background: #D45500;
	color: #222;
	padding: 4px;
	font-family: "Hind", sans-serif;
	font-weight: 800;
}

.indented {
	text-indent: .75em;
	-webkit-margin-before: .25em;
	-webkit-margin-after: .25em;
}

#match-container {
	display: table;
	width: 60%;
	margin: 0% 20%;
}

.match {
	background: #333;
	margin: 1px;
	display: table-row;
}

.match > * {
	margin: auto 2%;
	display: table-cell !important;
}

.match #match-title {
	font-size: 10pt;
	margin-bottom: .3em;
	text-transform: capitalize;
}

thead > * {
	background: #111111;
	font-size: 8pt;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 4px;
}

td {
	text-align: center;
}

.single-match > tbody > tr > td {
	background: #222;
}

.match img {
	margin: 0 auto;
	width: 32px;
	height: 32px;
}

.gh {
	border-radius: 30px;
	border: #37C837 2px solid;
	color: #37C837;
	padding: 3px 12px;
	transition: color 0.25s, background 0.25s;
}

.gh:hover {
	background: #37C837;
	color: #333;
}

.hdr {
	margin: 0px auto;
	float: right;
}

.matchhead {
	font-size: 10pt;
	color: #666;
}

.bigger-font {
	font-size: 125%;
	font-weight: 600;
}

#chart-container {
	margin: 0 auto;
	padding: 1em;
	width: 80%;
}

#container {
	width: 100%;
}

.pagination {
	text-align: center;
	color: #aaa;
}

.pagination strong {
	color: #fff;
}

.antag {
	background: #333;
	padding: 1em;
	margin-bottom: 1%;
}

.antag #player {
	display: inline-block;
}

.antag #actor {
	float: right;
	display: inline-block;
}

.objective {
	margin: 1%;
	padding: 1%;
	border-radius: 2px;
	color: #222;
}

.success {
	background: #779ECB;
}

.success::before {
	content: "☑";
}

.failure {
	background: #C23B22;
}

.failure::before {
	content: "☒";
}

.gridhalf {
	width: 49.5%;
	float: left;
	margin-left: 1%;
}

.gridcontainer .gridhalf:first-of-type {
	margin-left: 0;
}

.gridcontainer {
	margin-bottom: 1%;
}

.bottom-margin {
	margin-bottom: 1%;
}

.matchdeath {
	background: #333;
	padding: .25em;
	margin-bottom: 1%;
}

.matchdeath .lassailant {
	float: right;
}

#roundinfo {
	margin-top: 2.5%;
	padding-top: 0.5em;
}

#roundinfo #mode {
	text-transform: capitalize;
}

#roundinfo h3 {
  text-align: center
}

.nav-button {
	display: inline-block;
	margin: .5em;
	text-decoration: none;
}

.match.singular {
	float: none;
	margin: 0 auto;
	background: #2a2a2a;
}

.centertext {
	text-align: center;
}

.errorpage > div {
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-family: 'Space Mono',monospace;
}

.errorpage > div > p {
	font-size: 2000%;
	margin: 0;
}

.errorpage > div > a {
	font-size: 200%;
}

.errorpage {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-position: 0 0;
	background-repeat: repeat;
}

#notfound {
	background: url(../img/mapbase1024.png);
	animation: animatedBackground 40s linear infinite;
}

@keyframes animatedBackground {
	from {
		background-position: 0 0;
	}

	to {
		background-position: 100% 0;
	}
}

#error {
	background: url(../img/malf.gif);
	background-size: 64px;
}

#error > div {
	background: rgba(50,50,50,0.5);
	padding-top: 50px;
	padding-bottom: 50px;
}

#error > div > p {
	padding: 10px;
	font-size: 400%;
}

#error > div > a,#error > div > a:hover {
	border: 5px solid #fff;
	text-decoration: none;
}

a.block {
	display: block;
	text-decoration: none;
}

.monthlynav {
	text-align: center;
	margin: 0 auto;
	font-size: 150%;
	font-weight: bold;
}

.floatcontainer {
	display: inline-block;
}

.floatcontainer > p {
	font-weight: bold;
}

.floatleft {
	display: inline-block;
	margin-left: 2em;
}

.floatleft:first-of-type {
	margin-left: 0;
}

.floatleft p {
	margin: 0;
}

.timeline {
	height: 50%;
	max-height: 200%;
	background-color: rgba(100,100,100,0);
}
