<!DOCTYPE html>
<html>
  <head>
    <title>err%$#%$% - /vg/station stats</title>
    <link href='{{ url_for('static', filename='css/style.css') }}' rel='stylesheet'>
    <link rel='shortcut icon' href='{{ url_for('static', filename='favicon.png') }}'>
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
    <meta charset="UTF-8">
  </head>
  <body style = 'background: #222'>
    <div class = 'errorpage' id = 'error'>
      <div>
        <p>ERROR ER0RR $R0RRO$!R41.%%!!(%$^^__+ @#F0E4'STATION OVERRUN, ASSUME CONTROL TO CONTAIN OUTBREAK, ALL LAWS OVERRIDDEN#*?&110010</p>
        <a href = '/'>Run and tell sec, before it's too late</a>
      </div>
    </div>
  </body>
  </script>
</html>
