{% if chartLabels|length > 2 and chartData|length > 2 %}
<h2 class = 'timeline'>
<div id="timelineChart"></div>
</h2>
<script>
var data = {
    labels: {{chartLabels|safe}},
    datasets: [
        {
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            values: {{chartData|safe}}
        }
    ]
};

let timeline = new Chart({
  title: "{{chart_label|default('Population')}}",
  parent: "#timelineChart",
  type: "line",
  region_fill: 1,
  // is_series: 1,
  x_axis_mode: "tick",
  height: 150,
  data: data,
  colors: [
    "rgba(75,192,192,0.4)"
  ]
})
</script>
{% endif %}
