{% extends "_base.html" %}
{% block content %}
<div class="changelog mostwidth centerdiv">
  <h1>Changelog</h1>
  <div class="changelog-entry">
    <span class="changelog-date">23 Sept 2018 - Some overdue fixes</span>
    <ul>
      <li class="bugfix">Fixed non-player deaths counting as player deaths. This will affect matches previously parsed as well.</li>
      <li class="added">The map play percentage on the index now only shows data for the last 30 days of matches played.</li>
    </ul>
  </div>
  <div class="changelog-entry">
    <span class="changelog-date">7 Jun 2018 - Wow, something changed?</span>
    <ul>
      <li class="added">Added a view for population stats grouped by hour over the last 30 days under global stats.</li>
    </ul>
  </div>
  <div class="changelog-entry">
    <span class="changelog-date">15 Jan 2018 - Oh god so many bugs</span>
    <ul>
      <li class="added">Charting library has been moved to something I find to be cleaner. As a result, pie charts are gone. Because they suck. They've been replaced by a bar percentage chart... thing. Go look at it.</li>
      <li class="bugfix">Fixed population snapshots not parsing.</li>
    </ul>
  </div>
  <div class="changelog-entry">
    <span class="changelog-date">15 Jan 2018 - Belabored Update Edition</span>
    <ul>
      <li class="added">Lots of behind-the-scenes changes.</li>
      <li class="bugfix">Fixed some malf info problems, including them always being shown as winners when they didn't earn it.</li>
      <li>Since so much changed this time, I don't doubt there'll be lots of bugs.</li>
      <li>Next on the list: Better charting. After that, per-gamemode global stats maybe.</li>
    </ul>
  </div>
  <div class="changelog-entry">
    <span class="changelog-date">3 Nov 2017 - Lynch Sood Edition</span>
    <ul>
      <li class="honk">Hello, new changelog page! I'm not going to even pretend to have a proper versioning system, so here's dates instead.</li>
      <li class="added">Added a hover tooltip to the death counter on match pages.</li>
      <li class="removed">Due to some optimizations to how data is stored, matches before today have been lost because the migration would honestly be painful to perform. This shouldn't happen again for some time.</li>
      <li>Current plans involve a better view on mobile and adding display of things that have been gathered for a long time but never actually shown anywhere (uplink items!)</li>
      <li>If you have something you want to see added, check the issues list on <i class="fa fa-github-alt"></i> GitHub (link in the top right) to see if it's in the works, then either nag me about it on that issue, or make a new one to nag about one that isn't listed.</li>
      <li>That includes things as simple as "X should be more visible!"</li>
    </ul>
  </div>
</div>
{% endblock %}
