{%- extends "_base.html" -%}
{%- block title -%}Global Stats{% endblock -%}
{%- block content -%}
<div class = 'monthlynav'>
  {%- if timespan == 'monthly' -%}
  <a href="{{ url_for('globalstats', timespan='monthly', month=prevpage.month, year=prevpage.year) }}">«</a>
  <span>{{ query_start.strftime('%B %Y') }}</span>
  <a href="{{ url_for('globalstats', timespan='monthly', month=nextpage.month, year=nextpage.year) }}">»</a>
  </br>
  <a href="{{ url_for('globalstats', timespan='all')}}">All Time</a>
  {%- else -%}
  <a href="{{ url_for('globalstats', timespan='monthly')}}">Monthly</a>
  {%- endif -%}
</div>
<div id = 'chart-container'>
<canvas id="matchChart"></canvas>
</div>
{% endblock %}

{% block after_body %}
<script>
var bardata = {
  labels: {{matchData['types'] | safe}},
  datasets: [{
    type: 'bar',
      label: 'Wins',
      data: {{matchData['wins'] | safe}},
      backgroundColor: '#779ECB'
    }, {
      type: 'bar',
        label: 'Losses',
        data: {{matchData['losses'] | safe}},
        backgroundColor: '#C23B22'
  }]
};

var graphOpts = {
  type: 'bar',
  data: bardata,
  options: {
    responsive: true,
    fontColor: '#FFFFFF',
    tooltips: {
      mode: 'label',
    }
  }
}

Chart.defaults.global.defaultFontColor = '#fff';

window.onload = function() {
  var ctx = document.getElementById("matchChart").getContext("2d");

  new Chart(ctx, graphOpts);
}
</script>
{% endblock %}
