{%- extends "_base.html" -%}
{%- block title -%}Global Stats{% endblock -%}
{%- block content -%}
<div class = 'monthlynav'>
  {%- if timespan == 'monthly' -%}
  <a href="{{ url_for('globalstats', timespan='monthly', month=prevpage.month, year=prevpage.year) }}">«</a>
  <span>{{ query_start.strftime('%B %Y') }}</span>
  <a href="{{ url_for('globalstats', timespan='monthly', month=nextpage.month, year=nextpage.year) }}">»</a>
  <br/>
  <a href="{{ url_for('globalstats', timespan='all')}}">Show All Time</a>
  {%- else -%}
  <span>All Time</span>
  <br/>
  <a href="{{ url_for('globalstats', timespan='monthly')}}">Show Monthly</a>
  {%- endif -%}
</div>
<div id = 'chart-container'>
<canvas id="matchChart"></canvas>
</div>
{% endblock %}

{% block after_body %}
<script>
var bardata = {
  labels: {{matchData['types'] | safe}},
  datasets: [{
    type: 'bar',
      label: 'Antag Victory',
      data: {{matchData['wins'] | safe}},
      backgroundColor: '#779ECB'
    }, {
      type: 'bar',
        label: 'Antag Defeat',
        data: {{matchData['losses'] | safe}},
        backgroundColor: '#C23B22'
  }]
};

var graphOpts = {
  type: 'bar',
  data: bardata,
  hover: {
    animationDuration: 0
  },
  options: {
    responsive: true,
    fontColor: '#FFFFFF',
    tooltips: {
      mode: 'label',
    },
    scales: {
      xAxes: [{
        stacked: true
      }],
      yAxes: [{
        stacked: true,
        beginAtZero: true
      }]
    },
  }
}

Chart.defaults.global.defaultFontColor = '#fff';

window.onload = function() {
  var ctx = document.getElementById("matchChart").getContext("2d");

  new Chart(ctx, graphOpts);
}
</script>
{% endblock %}
