{%- extends "_base.html" -%}
{%- block title -%}Global Stats{% endblock -%}
{%- block content -%}
<div class = 'monthlynav'>
  {%- if timespan == 'monthly' -%}
  <a href="{{ url_for('blueprint.globalstats', timespan='monthly', month=prevpage.month, year=prevpage.year) }}">«</a>
  <span>{{ query_start.strftime('%B %Y') }}</span>
  <a href="{{ url_for('blueprint.globalstats', timespan='monthly', month=nextpage.month, year=nextpage.year) }}">»</a>
  <br/>
  <a href="{{ url_for('blueprint.globalstats', timespan='all')}}">Show All Time</a>
  {%- else -%}
  <span>All Time</span>
  <br/>
  <a href="{{ url_for('blueprint.globalstats', timespan='monthly')}}">Show Monthly</a>
  {%- endif -%}
</div>
<div class='gen-contain'>
  <div class='chart-wrapper'>
    <label for='matchChart' class='bigger-font'>Victory Rate</label>
    <div id="matchChart"></div>
  </div>
  <div class='chart-wrapper'>
    <label for='matchPieChart' class='bigger-font'>Play Rate</label>
    <div id="matchPieChart"></div>
  </div>
</div>
{% endblock %}

{% block after_body %}
<script>
var barData = {
  labels: {{matchData['types'] | safe}},
  datasets: [{
    title: 'Antag Victory',
    values: {{matchData['wins'] | safe}},
  },
  {
    title: 'Antag Defeat',
    values: {{matchData['losses'] | safe}},
  }]
};

var percentData = {
  labels: {{matchCounts[0] | safe}},
  datasets: [{
    title: "Playrate",
    values:{{matchCounts[1] | safe}}
  }]
}

let barChart = new Chart({
  parent: "#matchChart",
  data: barData,
  height: 250,
  type: "bar",
  colors: [
    '#779ECB',
    '#C23B22',
  ]
})
let pieChart = new Chart({
  parent: "#matchPieChart",
  // title: "Play Rate",
  data: percentData,
  type: "percentage",
  height: 250,
  colors: [
    '#779ECB', // blue
    '#C23B22', // red
    '#77DD77', // light green
    '#836953', // brown
    '#FFb347', // orange
    '#B39EB5', // pastel purple
    '#CFCFC4', // pastel 'gray'
    '#FDFD96', // light yellow
    '#AEC6CF', // light blue
    '#DEA5A4', // light red
    '#CB99C9', // violet
    '#966FD6', // purple
    '#FA9AC2', // magenta/pink
    '#0077BE', // deep blue
    '#FF6961', // bright red
    '#03c03c', // green
    '#9C2542', // dark violet
    '#317873', // dark green
    '#8A3324', // burnt umber
    '#E51A4C', // spanish crimson
    '#44D7A8', // eucalyptus
    '#0A7E8C', // 'metallic seaweed'
  ]
})
</script>
{% endblock %}
