{%- extends "_base.html" %}
{% block content -%}
<h1>Welcome to /vg/station's statistics viewer!</h1>
<div id = 'container-front' class = 'centerpadded-small'>
  <div class = 'floatcontainer'>
    <p>Cool stuff to note:</p>
    <div class = 'floatleft'>
        <p class = 'indented'>Number of matches logged: {{matchcount}}</p>
        <p class = 'indented'>Number of nukes set off: {{nukedcount}}</p>
        <p class = 'indented'>Explosions per match: {{'%0.2f' % explosionratio|float}}</p>
        <p class = 'indented'>Deaths per match: {{'%0.2f' % deathratio|float}}</p>
    </div>
    <div class = 'floatleft'>
      <p class>Map play percentage (last 30 days):</p>
      {%- for mapx in mapPlayrate -%}
        <p class = 'indented'>{{mapx[0]}}: {{'%0.2f' % ((mapx[1] / matchcount|float) * 100)}}%</p>
      {%- endfor -%}
    </div>
  </div>
    <p class='centertext warn'>Everything here is very much a work in progress. As such, match history may be wiped at any time.</p>
    <p class='centertext' style = 'margin-bottom: 0'>Last match:</p>
    {%- if lastmatch -%}
    <a href='/match/{{lastmatch.id}}'>
    <table class="single-match" id='match-container'>
	    <thead>
		    <td></td>
		    <td>Game Mode</td>
		    <td>Map</td>
		    <td>Crew Score</td>
		    <td>Player Deaths</td>
	    </thead>
	    <tbody>
		<tr class="match">
		<td><img src='{{modethumb(lastmatch.modes_string)}}'/></td>
      {%- if lastmatch.is_mixed() -%}
          <td>Mixed</p>
      {%- else -%}
          <td>{{lastmatch.modes_string}}</td>
	  {%- endif -%}
          <td>{{lastmatch.mapname}}</td>
          <td>{{lastmatch.crewscore}}</td>
          <td>{{lastmatch.player_deaths().count()}}</td>
		</tr>
	    </tbody>
    </table>
    </a>
    {%- endif -%}
</div>
{%- endblock -%}
