{% extends "_base.html" %}
{% from '_helpers.html' import render_pagination %}
{% block content %}

<div id = 'container'>
  {{ render_pagination(pagination, "blueprint.matchlist") }}
  <table id = 'match-container'>
	  <thead>
		  <td></td>
		  <td>Station Name</td>
		  <td>Map</td>
		  <td>Date &amp; Time</td>
		  <td>Crew Score</td>
		  <td>Player Deaths</td>
		  <td>View</td>
	  </thead>
{%- for match in matches %}
{%- include "components/_matchbar.html" with context -%}
{%- endfor %}
  </table>
  {{ render_pagination(pagination, "blueprint.matchlist") }}
</div>
{% endblock %}
