{% extends "_base.html" %}
{% block content %}
  <div id = 'roundinfo' class = 'centerpadded-small bottom-margin'>
    {% if match.start_datetime %}
      <span class="matchhead">{{match.date.strftime('%b %d %Y')}} / {{match.duration()}} min. ({{match.start_datetime.strftime('%I:%M %p')}} to {{match.end_datetime.strftime('%I:%M %p')}})</span>
    {% elif match.data_version | float >= 1.1 %}
      <h3>{{match.date.strftime('%B %d %Y')}}</h3>
      <p>Lasted {{match.duration()}} minutes (from {{match.starttime|format_timestamp('shortmatchtime')}} to {{match.endtime|format_timestamp('shortmatchtime')}})</p>
    {% elif match.date %}
      <h3>Match date: {{match.date.strftime('%B %d %Y')}}</h3>
    {% endif %}
    <h1>Round #{{match.id}}</h1>
      <h2 id = 'mode'>{{match.modes_string}} on {{match.mapname}} <strong>&#9760;{{match.player_deaths().count()}} / {{match.nonplayer_deaths().count()}}</strong></h2>
      {% with popstats=population_timeline_chart_data(match.id) %}
      {% if popstats %}
      {% with chartLabels=popstats[0], chartData=popstats[1], chartMinY=popstats[2] %}
      {% include "_timeline.html" %}
      {% endwith %}{% endif %}{% endwith %}
  </div>
  <div class = 'centerpadded'>
    <div class = 'gridcontainer'>
      <div id = 'deaths' class = 'gridhalf'>
        <h3>Deaths</h3>
        {%- for death in match.player_deaths() -%}
          <div class = 'matchdeath'>
            {% if death.mindkey -%}
	    <em>{{death.mindkey}}</em> as
            {% endif -%}
	    <strong>{{death.mindname}}</strong>
            {% if death.last_assailant -%}
            <span class = 'lassailant'>Last assailant is {{death.last_assailant}}</span>
            {% endif -%}
          </div>
        {% endfor %}
      </div>
      <div id = 'antags' class = 'gridhalf'>
        <h3>Antag objectives:</h3>
      {% for antag in match.get_antags() -%}
        <div class = 'antag'>
          <div id ='player'><span id = 'key'>{{antag.key}}</span><span id ='name'> as {{antag.name}}</span></div>
          <div id = 'actor'>{{antag.role}}</div>
          {% for objective in match.get_objs_for_antag(antag.key) -%}
	  <div class = 'objective {% if objective.objective_succeeded %}success{% else %}failure{% endif %}'>
		 {{objective | obj_pretty}}
          </div>
          {% endfor -%}
          <ol>
          {%- for uppurchase in match.uplink_buys_by_key(antag.key) %}
            <li class = 'uplinkbuy'> {{uppurchase.bundle_path}}</li>
          {%- endfor -%}
          {%- for badass in match.badass_buys_by_key(antag.key) %}
            <li class = 'uplinkbuy'>Badass bundle:</li>
            <ol>
              {%- for item in badass.items -%}
                {{item_path}}
              {%- endfor -%}
          {%- endfor -%}
        </ol>
        </div>
      {% endfor -%}
      </div>
      {% include ["gamemodes/_" + match.modes_string.lower() + ".html", "_gamemode.html"] %}
    </div>
  </div>
{% endblock %}
