{% extends "_base.html" %}
{% from '_helpers.html' import render_pagination %}
{% block content %}

<div id = 'container'>
  {{ render_pagination(pagination, "blueprint.matchlist") }}
  <table id = 'match-container'>
	  <thead>
		  <td></td>
		  <td>Game Mode</td>
		  <td>Map</td>
		  <td>Date &amp; Time</td>
		  <td>Crew Score</td>
		  <td>Player Deaths</td>
		  <td>View</td>
	  </thead>
{%- for match in matches %}
   <tr class = 'match block'>
	<td class="match-title"><img src='{{modethumb(match.modes_string)}}'/></td>
	<td>{%- if match.is_mixed() -%}Mixed{%- else -%}{{match.modes_string}}{%- endif %}</td>
	<td>{{match.mapname}}</td>
	<td>{{match.date.strftime('%m/%d/%y')}}
      	{%-if match.start_datetime%}
      	{{match.start_datetime.strftime('%H:%M')}}
    	{%-endif %}</td>
	<td class="bigger-font">{{match.crewscore}}</td>
	<td class="bigger-font">{{match.player_deaths().count()}}</td>
	<td><a href='/match/{{match.id}}' class="bigger-font">→</a></td>
    </tr>
{%- endfor %}
  </table>
  {{ render_pagination(pagination, "blueprint.matchlist") }}
</div>
{% endblock %}
